/* Footer */
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-bcg-color);
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    max-width: 768px;
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        max-width: 1200px;
    }
}

.footer__info {
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    }
}