/* Portfolio filter */
body {
    height: 100%;
}

.filter {
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
    gap: 8px;
    max-width: 450px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        max-width: 1200px;
    }
}

.filter__button {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    color: var(--primary-headlines-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    border-color: transparent;
    transition: color var(--transition-duration) var(--transition-timing-function),
        background-color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--secondary-text-color);
        background-color: var(--interactive-color);
        transition: color var(--transition-duration) var(--transition-timing-function),
            background-color var(--transition-duration) var(--transition-timing-function);
    }
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.card-set__item {
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    background-color: var(--primary-bcg-color);
    margin: 15px;
    width: 450px;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2   * 30px) / 2);
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * 30px) / 3);
        width: 370px;
    }
}

.card-set__filter {
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.card-set__filter:hover {
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.card-set__sub {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.card-set__box {
    position: relative;
    overflow: hidden;
}

.card-set__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--interactive-color);
    transform: translateY(100%);
    opacity: 0;

    transition: transform var(--transition-duration) var(--transition-timing-function),
        opacity var(--transition-duration) var(--transition-timing-function);
    
    .card-set__filter:hover & {
        opacity: 1;
        transform: translateY(0);

        transition: transform var(--transition-duration) var(--transition-timing-function),
            opacity var(--transition-duration) var(--transition-timing-function);
    }

}

.card-set__text {
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.card-set__subject {
    display: block;
    flex-grow: 1;
    color: var(--primary-headlines-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-set__name {
    display: block;
    flex-grow: 1;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}